@tailwind base;
@tailwind components;
@tailwind utilities;

header,
section,
footer {
  @apply px-4 sm:px-6 lg:px-20;
}

section {
  @apply text-gray-700;
}

.centralize {
  @apply flex flex-col justify-center items-center;
}

.Image {
  animation: logo-animate 4s ease infinite;
}
h2{
  text-align: center;
  color: azure;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

@keyframes logo-animate {
  0% {
    transform: scale(1); 
  }
  50% {
      transform: scale(1.02);
  }
  100% {
      transform: scale(1);
  }
}
